

 html, body {
     
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    
        width: 50%;
        max-width: 800px;
        min-width: 400px;
        margin: 0 auto;
      }
     
       
      

h1, p {
    font-weight: bold;
}






 


